* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --button-bg: #444444;
  --button-text: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s ease;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
}
